extends ./layout/index
block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="", class="img-fluid") 

            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit justo nisl, sed iaculis libero fermentum a. Duis bibendum ac justo id bibendum. Praesent dignissim lobortis sapien quis condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque gravida lectus a quam pellentesque, in volutpat libero cursus. Nullam euismod aliquam enim tincidunt molestie. Nulla bibendum suscipit dignissim.

                p Praesent lobortis pellentesque velit, et condimentum libero vehicula eu. Fusce egestas felis libero, et congue nisl blandit quis. Fusce justo mauris, tempor vel dui et, interdum laoreet eros. Donec mauris arcu, bibendum vitae cursus consectetur, bibendum quis ipsum.

                p Vestibulum eget nisi justo. Donec et feugiat justo. Cras at magna non nunc pretium lobortis. Nunc cursus est tortor, sit amet tempor nunc malesuada vel. Curabitur elementum turpis eget justo aliquet, ut mattis arcu dapibus. Suspendisse ullamcorper fermentum libero quis pulvinar.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class = "img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nunc cursus est tortor, sit amet tempor nunc malesuada vel. Curabitur elementum turpis eget justo aliquet.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class = "img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc cursus est tortor, sit amet tempor nunc malesuada vel. Curabitur elementum turpis eget justo aliquet.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class = "img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Nunc cursus est tortor, sit amet tempor nunc malesuada vel. Curabitur elementum turpis eget justo aliquet.