blockquote.text-center Lee sobre nuestros clientes y sus experiencias:
        .row.testimoniales
            each testimonial in testimoniales
                .col-md-6.col-lg-4.mb-4.mt-2
                    .card
                        .card-body
                            blockquote.blockquote
                            p.mb-1 
                                |#{testimonial.mensaje}
                            footer.blockquote-footer
                                |#{testimonial.nombre}